<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Contoso University</title>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover, .offcanvas a:focus {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }

        @@media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

                .sidenav a {
                    font-size: 18px;
                }
        }
    </style>
    <script>

        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }
        $(document).ready(function () {
            openNav();
        });

    </script>
</head>
<body>
    <div id="main">
        <div class="row">
            <div class="col-sm-10">
                <div style="background-color:blanchedalmond" id="mySidenav" class="sidenav">
                    <a href="/Student/Create" style="background-color:#FA6900"><font color="white">New Students</font></a>
                    <a href="/Student" style="background-color:aqua"><font color="white">Student</font></a>
                    <a href="/Course/Create" style="background-color:#FB6648;"> <font color="white">New Course</font></a>
                    <a href="/Course/" style="background-color:#28ABE3"><font color="white">All Course</font></a>
                    
                </div>
                <div class="col-sm-10">@RenderBody()</div>
            </div>


        </div>



        <footer>
            <p>&copy; @DateTime.Now.Year -  Course Management</p>
        </footer>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
